# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# System files
.DS_Store

# Model files
*.pkl
*.h5
*.joblib

# Logs
*.log

# VSCode
.vscode/
